<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Recaptcha Demo Index</title>
</head>

<body>
    <ul>
        <li><a href="/v2_checkbox.html">v2 checkbox demo</a></li>
        <li><a href="/v2_invisible.html">v2 invisible demo</a></li>
        <li><a href="/v3.html">v3 demo</a></li>
    </ul>
    <button onClick="javascript:window.location.href='/shutdown'">shutdown server</button>
</body>

</html>
