<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>google recapatcha v2 checkbox demo</title>
    <script>
        const public_key = ''
        var widgetId;
        var onloadCallback = function () {
            widgetId = grecaptcha.render('g-recaptcha', {
                'sitekey': public_key,
                'theme': 'light',  //主题颜色，有light与dark两个值可选
                'size': 'normal',  //尺寸规则，有normal与compact两个值可选
                'callback': verifyCallback, //验证成功回调
            })
        };

        const verifyCallback = function (token) {
            document.getElementById('capatcha-message').textContent = "verification success locally";
        };
    </script>
</head>

<body>
    <h1>google recapatcha v2 checkbox demo</h1>
    <form id="form" method="POST">
        <div id="g-recaptcha"></div>
        <p id="capatcha-message"></p>
        <button id="send" type="submit">submit</button>
    </form>
    <p><a href="/">back to index</a></p>
    <script>
        document.getElementById("form").onsubmit = function (e) {
            e.preventDefault();

            // if token is not empty, it means that user has already solved the captcha
            if (grecaptcha.getResponse(widgetId).length > 0) {

                // send the token to the backend for verification
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "http://127.0.0.1:8000", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({
                    "token": grecaptcha.getResponse(widgetId),
                    "version": "v2_checkbox",
                }))

                // get the verification result from the backend
                xhr.onreadystatechange = function () {
                    if (this.readyState == xhr.DONE && this.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        console.log(response)
                        document.getElementById('capatcha-message').textContent = `verify ${response['success'] ? 'success' : 'fail'} from google`
                    };
                }

                // since each token can only be verified once, we need to reset the captcha
                grecaptcha.reset(widgetId);
            } else {
                // no captcha no submit
                document.getElementById('capatcha-message').textContent = "please verify capatcha"
            }
        };
    </script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</body>

</html>
